.container {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.icon {
  position: absolute; /* Hack */
  left: 0.25rem;
}

.select {
  width: 1.75rem;
  min-width: 2rem;
  max-width: 2rem;
  height: 1.75rem;
  padding: 0.5rem;
  overflow: hidden;
  background-color: transparent;
  color: transparent;
  font-size: 0; /* Hack to hide text */
  white-space: nowrap;
  text-overflow: ellipsis;
  border-color: #999;
  border-radius: 4px;
  border: none; 
  cursor: pointer;
}

.select option {
  margin-left: 1.8rem;
  color: var(--color-text);
  font-size: 16px;
}
