.knobContainer {
  --knob-font-size: 12px;
  --knob-el-width: 45px;

  line-height: 1.5;
  font-size: var(--knob-font-size);

  display: flex;
  flex-direction: column;
  width: calc(var(--knob-el-width) * 1.5);

  .knobLabel {
    display: flex;
    justify-content: center;
  }

  .knobControl {
    position: relative;
    width: var(--knob-size);
    height: var(--knob-size);
    border: 2px solid #aaa;
    border-radius: 50%;
    box-sizing: border-box;
    margin-inline: auto;
    margin-top: 0.5em;
    cursor: grab;
    touch-action: none;
    user-select: none;

    &:active {
      cursor: grabbing;
    }

    &:focus-visible {
      outline: 1px solid rgb(255 255 255 / 45%);
      outline-offset: 4px;
    }

    span {
      position: absolute;
      top: 9%;
      left: calc(50% - 1px);
      width: 2px;
      height: 41%;
      border-radius: 1px;
      background: #eee;
      transform: rotate(var(--knob-rotation));
      transform-origin: 50% 100%;
    }
  }

  .knobValue {
    font-size: calc(var(--knob-font-size) * 0.8);
    text-align: center;
    color: #999;
    margin-inline: auto;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
}
