.bar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem;
  background: rgba(18, 20, 23, 0.931);
  border-radius: 0.25rem;
  border: none;
  font-size: 0.9rem;

  select {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.modeSelector {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.modeSelector label[data-checked] {
  color: rgba(58, 219, 243, 0.984);
  text-shadow: 0 0 2px rgba(58, 219, 243, 0.984);
}

.toggles,
.pointRoleSelectors {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.speedKnobContainer {
  margin-inline-start: auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .value {
    display: inline-block;
    width: 4ch;
  }
}

.toggle {
  color: #777;
}

.toggle[data-checked] {
  color: #4ade80;
}

.dot {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background: currentColor;
}
